
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Share Tech Mono', monospace;
}

body {
  background-color: #777;
}


@keyframes dummy {
  0%   {color:yellow; }
  25%  {color:yellowgreen; }
  50%  {color:skyblue; }
  75%  {color:yellowgreen; }
  100% {color:yellow;}
}

.dummy-text {
  word-wrap: break-word;
  display: inline-block;
  font-size: 4rem;
  animation-name: dummy;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

